body {
    background-color: lightgray;
    min-width: 500px;
    max-width: 2000px;
    display: grid;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #181818;
    min-height: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px auto 150px;
}

header > * {
    padding: 15px;
    color: whitesmoke;
    justify-self: center
}

form {
    padding: 10px
}

ul {
 display: grid;
     justify-self: center;
     justify-items: center;
}


li {
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    width: 400px;
    text-align-items: center;
}

div {
    width: 400px;
    display: grid;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

h1 {
    margin: 10px;
    font-size: larger;
    font-weight: bold;
}