body {
    background-color: lightgray;
    min-width: 500px;
    max-width: 2000px;
    display: grid;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #181818;
    min-height: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px auto 100px;
}

header > * {
    padding: 15px;
    color: whitesmoke;
    justify-self: center
}

form {
    padding: 10px
}

li {
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
}